<div class="container-index-accomodation">
  <div class="row">
    <div class="col-12">
      <div class="filter">

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="index-accomadtion">
        <table id="table-index-accomodation">
          <thead>
            <tr>
              <th class="acc-category">CAT</th>
              <th class="acc-rooms">ROOMS</th>
              <th class="acc-price">PRICE</th>
              <th class="acc-address">ADDRESS</th>
              <th class="acc-availability">FROM</th>
              <th class="acc-title">TITLE</th>
              <th class="acc-links">LINK</th>
            </tr>
          </thead>
          <tbody>
            <% @accomodations.each do |accomodation| %>
              <tr class="accomodation">
                <td class="acc-category"><%= accomodation.category %></td>
                <td class="acc-rooms"><%= accomodation.rooms %></td>
                <td class="acc-price"><%= accomodation.price %></td>
                <td class="acc-address"><%= accomodation.address %></td>
                <td class="acc-availability"><%= accomodation.availability %></td>
                <td class="acc-title"><%= accomodation.title %></td>
                <td class="acc-links"><%= accomodation.link %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot></tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
